.navbar {
  height: 50px;
  background-color: #1f4690;
  display: flex;
  justify-content: center;
}

.navCotainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.navButton {
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #1f4690;
}
